@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#game-board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.square {
    width: 100px;
    height: 100px;
    border: solid 2px rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:first-child, .square:nth-child(2), .square:nth-child(3){
    border-top: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9){
    border-right: none;
}

.square:nth-child(2){
    border-top: none;
}

.square:nth-child(4), .square:nth-child(7), .square:first-child{
    border-left: none;
}
.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
    border-bottom: none;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 15px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

.cross {
    height: 70px;
    width: 70px;
    position: relative;
    transform: rotate(45deg);
}

.cross::before, .cross::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

.game-setup {
    width: 410px;
    border: 2px solid #fff;
    padding: 20px;
}

.info {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

hr {
    margin: 20px 0px;
}

.choose-your-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol {
    width: 25%;
}

.circle, .cross {
    cursor: pointer;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.circle:active, .cross:active{
    width: 65px;
    height: 65px;
}